<my-table>
   <!-- Method A -->
   <h1 tableColumn [columnName]="'firstName'">this template is for column firstName</h1>

   <!-- Method B -->
   <ng-template [ngIf]="true" tableColumn [columnName]="'lastName'">
       <h1>this template is for column lastName</h1>
   </ng-template>

   <!-- Test A -->
   <ng-template [ngIf]="true" tableColumn="test1" let-test1>
       <h1>this template is for column test1</h1>
   </ng-template>

   <!-- Test B -->
   <ng-template tableColumn="test2" let-test2>
       <h1>this template is for column test2</h1>
   </ng-template>
</my-table>
